
<!-- <mat-list-item routerLink="#">
  <mat-icon>dashboard</mat-icon><span>Dashboard</span>
</mat-list-item> -->
<mat-list-item routerLink="" class="side-item">
  <!-- <mat-icon>dashboard</mat-icon> -->
  <span>Main</span> <span class="hov"> > </span>
</mat-list-item>
<mat-list-item routerLink="information" class="side-item">
  <span>information</span> <span class="hov"> > </span>
</mat-list-item>
<mat-list-item routerLink="#" class="side-item">
  <span>Faculty & Staff</span> <span class="hov"> > </span>
</mat-list-item>
<mat-list-item routerLink="#" class="side-item">
  <span>Wiki Sitemap</span> <span class="hov"> > </span>
</mat-list-item>
<mat-list-item routerLink="#" class="side-item">
  <span>Knowledgebase</span> <span class="hov"> > </span>
</mat-list-item>
<mat-list-item routerLink="#" class="side-item">
  <span>Facilities</span> <span class="hov"> > </span>
</mat-list-item>
<mat-list-item routerLink="#" class="side-item">
  <span>Courses</span> <span class="hov"> > </span>
</mat-list-item>
<mat-list-item routerLink="#" class="side-item">
  <span>Opportunities</span> <span class="hov"> > </span>
</mat-list-item>
<mat-list-item routerLink="#" class="side-item">
  <span>Resources</span> <span class="hov"> > </span>
</mat-list-item>
<mat-list-item routerLink="#" class="side-item">
  <span>School of Art in the World</span> <span class="hov"> > </span>
</mat-list-item>
<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header class="expansion-item">
    Newsletters & Calendars
  </mat-expansion-panel-header>
  <mat-nav-list>
    <!-- <a mat-list-item routerLink="#">
      <mat-icon>apple</mat-icon><span>trickshot</span>
    </a> -->
    <div class="side-item-container">
      <mat-list-item routerLink="#" class="side-item">
        <mat-icon>how_to_reg</mat-icon><span class="text">Sign up for School of Art newsletters</span>
      </mat-list-item>
      <mat-list-item routerLink="#" class="side-item">
        <mat-icon>groups</mat-icon><span class="text">Community Calendar</span>
      </mat-list-item>
      <mat-list-item routerLink="#" class="side-item">
        <mat-icon>local_library</mat-icon><span class="text">Academic Calendar</span>
      </mat-list-item>
      <mat-list-item routerLink="#" class="side-item">
        <mat-icon>meeting_room</mat-icon><span class="text">Public Events Calendar</span>
      </mat-list-item>
      <mat-list-item routerLink="#" class="side-item">
        <mat-icon>public</mat-icon><span class="text">SoA in the World Calendar</span>
      </mat-list-item>
      <!-- <a mat-list-item routerLink="#">
        <mat-icon>how_to_reg</mat-icon><span class="text">Sign up for School of Art newsletters</span>
      </a> -->
    </div>
  </mat-nav-list>
</mat-expansion-panel>
