:root{
  --clr-primary: hsl(151, 28%, 57%);
  --clr-secondary: rgb(1, 70, 173);
  --clr-supporting-1: rgb(90, 123, 173);
  --clr-supporting-2: #c7a600;
  --bg-header: hsl(219, 24%, 14%);
  --bg-contents: #fafafa;
}